@model AiraaFlorals.Models.CartItem

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CartItem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cart.CartId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bouquets)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bouquets.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CartItemId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
